body {
  margin: 0;
  display: flex;
  justify-content: center;
  /* place-items: center; */
  min-width: 320px;
  /* min-height: 100vh; */
}

.wrapper {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  max-width: 500px;
  font-size: 20px;
  margin-top: 40px;
  padding: 30px;
}

.task1, .task2, .task3 {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 2px;
  padding: 15px;
  margin-bottom: 25px;
  border-radius: 8px;
}

h2 {
  /* font-size: 3.2em; */
  line-height: 1.1;
  margin-top: 0px;
}
